<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/Worldsensing/" mdbBtn color="white" outline="true" rounded="true"
           class="waves-light" mdbWavesEffect>Facebook</a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/worldsensing" mdbBtn color="white" outline="true" rounded="true"
           class="waves-light" mdbWavesEffect>LinkedIn</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">jobspoland@worldsensing.com
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
